{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{{ form.media }}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Upload Polygon | WebGis Geofisika</title>

	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'js/mapwidget.js' %}"></script>
</head>


<body>
{% include 'snippets/navbar.html' %}

{% if user.is_authenticated %}	
<div class="container jumbotron mt-5">
	<h2 class="display-4">Upload Administrative</h2>
	<hr class="my-3">

	<div class="form-group">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<table style="width: 100%;">
				<tbody>
					<tr>
						<td>
							<div class="field">
								<label class="label">Object Name</label>
								<div class="control">
									{% render_field form.namobj class="form-control" placeholder="Insert Object Name" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<label class="label">Note</label>
								<div class="control">
									{% render_field form.remark class="form-control" placeholder="Insert Note" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<label class="label">Layer Code</label>
								<div class="control">
									{% render_field form.lcode class="form-control" placeholder="Insert Layer Code" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<label class="label">District Name</label>
								<div class="control">
									{% render_field form.wadmkk class="form-control" placeholder="Insert District Name" %}
								</div>
							</div>
						</td>
					</tr>	
					<tr>
						<td>
							<div class="field">
								<label class="label">Province Name</label>
								<div class="control">
									{% render_field form.wadmpr class="form-control" placeholder="Insert Province Name" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<label class="label">District Capital Name</label>
								<div class="control">
									{% render_field form.wiadkk class="form-control" placeholder="Insert District Capital Name" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="field">
								<label class="label">Area (Hectares)</label>
								<div class="control">
									{% render_field form.shp_area class="form-control" placeholder="Insert Area" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td style="width: 500px;">
							<div class="field">
								<label class="label">Administrative</label>
								<div style="width: 100%; margin-left: 4%;" class="leaflet-control-layers-expanded">
									{% render_field form.shp class="form-control" id="gis" %}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<button style="margin-right: 20px;" type="submit" class="btn btn-primary">Save</button>
								<a href="{% url 'list_administrasi' %}">
									<input style="width: 50px;" class="btn btn-danger" type="button" value="Back">
								</a>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
{% else %}
<div class="container jumbotron mt-5">
    <h2 class="display-4">You must login first!!!</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
</div>
{% endif %}

<script src="{% static 'vendor/jquery/jquery.js' %}"></script>
<script src="{% static 'vendor/popper/popper.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
