{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-secondary" style="height: 10%;">
  <div class="container">
    <div class="navbar-brand">
      <img  src="{% static "img/logo.png" %}" height="40px" alt="">
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <div class="nav-item dropdown ml-2">
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data List
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'list_edubuild' %}">Education Building</a>
            <a class="dropdown-item" href="{% url 'list_administrasi' %}">Administrative</a>
            <a class="dropdown-item" href="{% url 'list_street' %}">Street</a>
          </div>
        </div>
        <div class="nav-item dropdown ml-2">
          {% if user.is_authenticated %}
          <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Upload
          </a>
          {% else %}
          
          {% endif %}
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'upload_edubuild' %}">Upload Education Building</a>
            <a class="dropdown-item" href="{% url 'upload_administrasi' %}">Upload Administrative</a>
            <a class="dropdown-item" href="{% url 'upload_street' %}">Upload Street</a>
          </div>
        </div>
      </ul>
      
      <div class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="/logout">Logout</a>
          {% else %}
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>  

