{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-secondary" style="height: 10%;">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img  src="{% static "img/logo.png" %}" height="40px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
      <div class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Upload
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/upload/point">Point</a>
          <a class="dropdown-item" href="/upload/polygon">Polygon</a>
          <a class="dropdown-item" href="/upload/street">Street</a>
        </div>
      </div>
    {% else %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
    {% endif %}
      <div class="nav-item dropdown ml-auto">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% if user.is_authenticated %}
            <a class="dropdown-item" href="/logout">Logout</a>
          {% else %}
            <a class="dropdown-item" href="/login">Login</a>
            <a class="dropdown-item" href="/register">Register</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>  

