{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% leaflet_js %}
	{% leaflet_css %}
<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!-- Leaflet -->
	<link rel="stylesheet" href="{% static "vendor/leaflet/leaflet.groupedlayercontrol.css" %}">
	<script src="{% static "vendor/leaflet/leaflet.ajax.js" %}"></script>
	<script src="{% static "vendor/leaflet/leaflet.groupedlayercontrol.js" %}"></script>
<!-- Style -->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<style type="text/css">
		#gis {height: 100%; position: fixed; width: 100%;}
	</style>

	<title>{% block Title %}{% endblock Title %}</title>
</head>
<body>
<!-- Navbar -->
	{% include "snippets/navbar.html" %}
<!-- Contents -->
	<div class="col-md-8">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% block Contents %}{% endblock Contents %}
<!-- Javascript -->
	<script src="{% static "vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "vendor/popper/popper.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>