{% load static %}
{% load leaflet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% leaflet_js %}
	{% leaflet_css %}
<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}">
<!-- Leaflet -->
	<link rel="stylesheet" href="{% static "vendor/leaflet/leaflet.groupedlayercontrol.css" %}">
	<script src="{% static "vendor/leaflet/leaflet.ajax.js" %}"></script>
	<script src="{% static "vendor/leaflet/leaflet.groupedlayercontrol.js" %}"></script>
<!-- Style -->
	<link rel="stylesheet" href="{% static "css/style.css"%}">

	<title>{% block Title %}{% endblock Title %}</title>
</head>
<body>
<!-- Navbar -->
	{% include "snippets/navbar.html" %}
<!-- Map -->
	{% block Contents %}{% endblock Contents %}
<!-- Javascript -->
	<script src="{% static "vendor/jquery/jquery.js" %}"></script>
	<script src="{% static "vendor/popper/popper.js" %}"></script>
	<script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>