{% extends 'base.html' %}

{% block Contents %}
<div class="container jumbotron mt-5">
    <h2 class="display-5 mt-0">Shapefile</h2>
    <div class="container"></div>
    {% if user.is_authenticated %}
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Download</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for shapefile in shp %}
                    <tr>
                        <td>{{ shapefile.title }}</td>
                        <td>{{ shapefile.author }}</td>
                        <td>
                            <a href="{{ shapefile.shp.url }}" class="btn btn-primary btn-sm">Download SHP</a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'delete_shp' shapefile.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    {% else %}
    <table class="table mb-0">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            {% for shapefile in shp %}
                <tr>
                    <td>{{ shapefile.title }}</td>
                    <td>{{ shapefile.author }}</td>
                    <td>
                        <a href="{{ shapefile.shp.url }}" class="btn btn-primary btn-sm">Download SHP</a>
                    </td>
                </tr>
            {% endfor %} 
        </tbody>
    </table>
    {% endif %}
    </div>
</div>
{% endblock Contents %}
    